<Configuration status="WARN" name="yoinc-bot" packages="">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %c{1} - %m%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="fout" fileName="yoinc-bot.log" append="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %c{1} - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="stdout" />
            <AppenderRef ref="fout"/>
        </Root>
    </Loggers>
</Configuration>
